 
 
conda install -c conda-forge rdkit
pip install deepchem
conda install -c conda-forge  simdna
pip install git+https://github.com/samoturk/mol2vec
pip install utils

To build the documentation of Mol2vec 

    pip install sphinx 
    pip install numpydoc 
    pip install sphinx_rtd_theme 
    
    conda install -c rdkit rdkit 
    ou
    conda install -c rdkit/label/attic rdkit
    também instalei sudo apt-get install python-rdkit librdkit1 rdkit-data

pip install scikit-multilearn


pip install keras-gcn
