 
 
conda install -c conda-forge rdkit
pip install deepchem
conda install -c conda-forge  simdna
pip install git+https://github.com/samoturk/mol2vec


To build the documentation of Mol2vec 

    pip install sphinx 
    pip install numpydoc 
    pip install sphinx_rtd_theme 